B

G
#/Users/william/data/ngc3115/coadd_g_1.resamp.fits
/Users/william/data/ngc3115/coadd_g_2.resamp.fits

R
#/Users/william/data/ngc3115/coadd_r_1.resamp.fits
/Users/william/data/ngc3115/coadd_r_2.resamp.fits

indir  /Users/william/Downloads/
#outname  field_1_GR.png
# field 1:
#outname  /Users/william/data/ngc3115/work/coadd_10:07:38.23_-7:07:07.8.png
# field 2:
outname  /Users/william/data/ngc3115/work/coadd_10:02:50.03_-8:19:04.0.png
samplesize 400
stampsize  400
showstamps  0
satpercent  0.00001
noiselum    0.15
colorsatfac  1.5
deletetests  1
sampledx  0
sampledy  0








